spring:
  config:
    import:
      optional:file:.env.dev[.properties]

  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:puresound-database}
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          time_zone: UTC

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD}

  docker:
    compose:
      enabled: false

cookie:
  secure: false
  rt-name: dev-refresh_token
  stream-name: dev-stream_session
  domain: ${COOKIE_DOMAIN:}
  same-site: Lax

management:
  health:
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized
      show-components: always
    info:
      access: unrestricted
