spring:
  datasource:
    url: jdbc:mysql://localhost:3307/${MYSQL_DATABASE}
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          time_zone: UTC

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  docker:
    compose:
      file: docker-compose.dev.yml

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
    info:
      access: unrestricted

cookie:
  secure: false
  domain: ${COOKIE_DOMAIN}
  same-site: Lax

otp:
  signup:
    exp-min: ${OTP_SIGNUP_EXP_MIN}
